.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-img {
  height: auto;
  width: auto;
  max-height: 50px;
  min-height: 40px;
}

.navbar-brand {
  font-weight: 500;
  color: #e27396;
  font-size: 24px;
  transition: 0.3s color;
  width: 10%;
}

.login-button {
  background-color: #ea9ab2;
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.3s background-color;
}

.login-button.login-button:hover {
  background-color: #e27396;
}

.navbar-toggler {
  border: none;
  font-size: 1.5rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #222222;
  font-weight: 500;
  position: relative;
}

.nav-link:hover, .nav-link.active:hover {
  color: #ea9ab2;
}

@media (min-width: 991px) {
  .nav-link:hover::before, .nav-link.active:hover::before {
      width: 100%;
      visibility: visible;
  }
}

/* Custom styles for smaller screens */
@media (max-width: 767.98px) {
  .navbar {
    padding: 0.5rem 0.5rem;
    height: auto;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 0.5rem;
    font-size: 18px;
  }
  .navbar-brand img {
    height: 24px;
    width: auto;
  }
  .navbar-toggler {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
  .navbar-nav .nav-link {
    padding: 0.3rem 0;
  }
  .offcanvas-header {
    padding: 0.5rem 1rem;
  }
  .offcanvas-title img {
    height: 50px;
    width: auto;
    margin-right: 0.5rem;
  }
  .offcanvas-body .nav-link {
    padding: 0.25rem 0;
  }
  .login-button {
    padding: 0.25rem 0.5rem;
  }
}

.offcanvas-title img {
  height: auto;
  width: auto;
  max-height: 50px;
  min-height: 40px;
}

.offcanvas-title {
  color: #e27396;
}

.hero-section {
  background: url(img-hero-s.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 15px;
}

.hero-section::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-section .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section img {
  position: absolute;
  left: 0;
  width: 70%;
  margin-bottom: 40px;
}

.hero-section h5 {
  position: absolute;
  bottom: 10%;
  text-align: justify;
  font-size: 1.1rem;
}

.hero-section h6 {
  position: absolute;
  bottom: 5%;
  text-align: left;
  left: 0;
}

.hero-section h6 a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .hero-section {
    padding: 15px;
    height: 70vh;
  }

  .hero-section .container {
    height: 70vh;
    z-index: 1;
    position: relative;
  }

  .hero-section h5 {
    font-size: 0.9rem; /* Smaller font size for small screens */
  }

  .hero-section h6 {
    font-size: 0.8rem; /* Smaller font size for small screens */
  }
}

@media (min-width: 1000px) {
  .hero-section {
    padding: 15px;
    height: 100vh;
  }

  .hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
  }

}

.products {
  background-color: #ffd9da;
  background-size: cover;
  width: 100%;
  padding: 3%;
}

.products .container {
  z-index: 0;
  position: relative;
}

.products h1{
  text-align: center;
  color: #e27396;
}

.products h6{
  text-align: center;
  padding: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-10px);
}

.product-img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.product-title {
  font-size: 1rem;
  color: #e27396;
  text-align: center;
}

.stores {
  background-color: #ffd9da;
  background-size: cover;
  width: 100%;
  padding: 3%;
}

.stores .container {
  z-index: 0;
  position: relative;
}

.stores h1 {
  font-size: 32px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #dc3545 !important;
  font-weight: 700;
}

.store-table {
  margin-top: 10%;
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.store-table th, .store-table td {
  padding: 12px 15px;
  text-align: left;
  border-block-start: none;
  border-block-end: 1px solid #e27396;
  font-weight: 500;
}

.table-responsive {
  overflow-x: auto;
}

@media (max-width: 767.98px) {
  .stores h1 {
    font-size: 24px;
  }

  .store-table th, .store-table td {
    padding: 10px;
    font-size: 14px;
  }
}

.divider {
  display: block;
  margin: 40px auto;
  width: 80%;
  max-width: 500px;
  height: auto;
}

@media (min-width: 768px) {
  .divider {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .divider {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .divider {
    width: 45%;
  }
}

@media (max-width: 767px) {
  .product-title {
      font-size: 0.9rem;
  }
}

.footer {
  background-color: #f8f9fa;
  padding: 0;
  overflow-y: auto;
}

.footer img {
  max-width: 100%;
  height: auto;
}

.footer h5 {
  color: #e27396;
  margin-bottom: 0.5rem;
}

.footer h6,
.footer p {
  color: #6c757d;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #6c757d;
}

.footer a:hover,
.footer a:active {
  color: #e27396;
}

.footer .footer-link {
  font-weight: 500;
}

.footer .footer-link:hover,
.footer .footer-link:active {
  color: #e27396 !important;
}

@media (max-width: 767.98px) {
  .footer h5,
  .footer h6,
  .footer p,
  .footer a {
    font-size: 0.875rem; /* Adjust font size for small screens */
  }
}

.products-sect {
  background-color: #ffd9da;
  width: 100%;
  padding: 3%;
  padding-top: 10%;
}


.products-sect .container {
  z-index: 0;
  position: relative;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
  color: #e27396;
}

.section-subtitle {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
}

/* Ensure the dropdown opens downwards */
.dropdown-menu {
  top: auto;
  bottom: 100%;
}

/* Styles for dropdown items */
.dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 15px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

/* Hover effect */
.dropdown-item:hover {
  color: #e27396;
  background-color: #f8f9fa;
  font-weight: 500;
}

/* Active state */
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #007bff;
}

/* Button padding adjustment */
.dropdown-toggle {
  padding: 10px 20px;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.ps-product {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.ps-product:hover {
  transform: scale(1.05);
}

.ps-img {
  width: 100%;
  height: auto;
  display: block;
}

.ps-title {
  font-size: 1rem;
  padding: 10px 0;
}

.ps-price {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.ps-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.add-to-cart,
.buy-now {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
}

.add-to-cart:hover {
  background-color: #0056b3;
}

.buy-now {
  background-color: #28a745;
  color: #fff;
}

.buy-now:hover {
  background-color: #218838;
}

@media (max-width: 767.98px) {
  .products-sect{
    padding-top: 15%;
  }

  .section-title{
    font-size: 1.5rem;
  }

  .section-subtitle{
    font-size: 1rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.contact {
  background: url(img-hero-s.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 110vh;
  position: relative;
  padding: 55px 15px;
}

.contact::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contact .container {
  height: 100vh;
  z-index: 1;
  position: relative;
}
          
              .formcarry-container {
                box-sizing: border-box;
                margin: 40px auto 0 auto;
                padding: 0;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.01em;
          
                width: 400px;
          
                /* NORMAL */
                --fc-normal-filed-bg-color: #F7F9FC;
                --fc-border-color: #ECEFF9;
                --fc-normal-text-color: #0E0B3D;
                --fc-normal-placeholder-color: #B3B8D0;
          
                /* PRIMARY COLOR | HSL FORMAT*/
                --fc-primary-color-hue: 220;
                --fc-error-color-hue: 356;
                --fc-primary-hsl: var(--fc-primary-color-hue), 100%, 54%;
                --fc-error-hsl: var(--fc-error-color-hue), 100%, 54%;
          
                /* HOVER */
                --fc-field-hover-bg-color: #FFFFFF;
                --fc-border-hover-color: #DDE0EE;
                --fc-field-hover-text-color: #B3B8D0;
          
                --fc-border-active-color: #1463FF;
              }
          
              .formcarry-container * {
                box-sizing: border-box;
              }
          
              .formcarry-container label {
                display: block;
                cursor: pointer;
              }
          
              .formcarry-container .formcarry-block:not(:first-child) {
                margin-top: 16px;
              }

              .formcarry-container h1{
                font-size: 2.5rem;
                font-weight: 600;
  text-align: center;
  padding-top: 55px;
  margin-bottom: 10px;
  color: #fff;
              }
          
              /*=============================================
              =            Fields           =
              =============================================*/
              
              .formcarry-container input,
              .formcarry-container textarea,
              .formcarry-container select {
                margin-top: 4px;
                width: 100%;
                height: 42px;
                border: 1px solid var(--fc-border-color);
                box-shadow: 0 1px 2px var(--fc-border-color);
                color: var(--fc-normal-text-color);
                background-color: var(--fc-normal-filed-bg-color);
                border-radius: 10px;
                padding: 8px 12px;
                
                font-family: "Inter", sans-serif;
                font-size:14px;
                transition: 125ms background, 125ms color, 125ms box-shadow;
              }
          
              .formcarry-container textarea{
                min-height: 188px;
                max-width: 100%;
                padding-top: 12px;
              }
          
              .formcarry-container input::placeholder,
              .formcarry-container textarea::placeholder,
              .formcarry-container select::placeholder {
                color: var(--fc-normal-placeholder-color);
              }
          
              .formcarry-container input:hover,
              .formcarry-container textarea:hover,
              .formcarry-container select:hover {
                border-color: var(--fc-border-hover-color);
                background-color: var(--fc-field-hover-bg-color);
              }
          
              .formcarry-container input:hover::placeholder,
              .formcarry-container textarea:hover::placeholder,
              .formcarry-container select:hover::placeholder {
                color: var(--fc-field-hover-text-color);
              }
          
              .formcarry-container input:focus,
              .formcarry-container textarea:focus,
              .formcarry-container select:focus {
                background-color: #fff;
                border: 2px solid hsl(var(--fc-primary-hsl));
                box-shadow: 0px 1px 6px hsla(var(--fc-primary-hsl), 17%), 0px 2px 0px hsla(var(--fc-primary-hsl), 14%);
                outline: none;
              }
          
              .formcarry-container input:focus,
              .formcarry-container select:focus {
                padding: 8px 11px;
              }
          
              .formcarry-container textarea:focus {
                padding: 11px;
              }
          
              .formcarry-container select {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9997 14.5001L8.46387 10.9642L9.64303 9.78589L11.9997 12.1434L14.3564 9.78589L15.5355 10.9642L11.9997 14.5001Z' fill='%236C6F93'/%3E%3C/svg%3E%0A");
                background-size: 24px 24px;
                background-position: 98%;
                background-repeat: no-repeat;
                appearance: none;
                -webkit-appearance: none;
              }
          
              .formcarry-container button {
                font-family: "Inter", sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: -0.02em;
                height: 40px;
                line-height: 24px;
                width: 100%;
                border: 0;
                border-radius: 10px;
                box-sizing: border-box;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%), hsla(var(--fc-primary-hsl));
                color: #fff;
                cursor: pointer;
                box-shadow: 0px 2px 4px -2px hsla(var(--fc-primary-hsl), 64%), inset 0px -2px 4px rgba(255, 255, 255, 0.16);
  margin-bottom: 55px;
                transition: 125ms all;
              }
              
              .formcarry-container button:hover {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), hsla(var(--fc-primary-hsl));
              }
              
              .formcarry-container button:focus {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
                border-inline: 1px solid inline rgba(255, 255, 255, 0.6);
                box-shadow: 0px 0px 0px 3px rgba(var(--fc-primary-hsl), 12%);
              }
          
              .formcarry-container button:active {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), hsla(var(--fc-primary-hsl));
              }
          
              .formcarry-container button:disabled {
                background-color: hsla(var(--fc-primary-hsl), 40%);
                cursor: not-allowed;
              }
          
              .formcarry-container input:focus:required:invalid,
              .formcarry-container input:focus:invalid, 
              .formcarry-container select:focus:required:invalid,
              .formcarry-container select:focus:invalid
              {
                color: hsl(var(--fc-error-hsl)); 
                border-color: hsl(var(--fc-error-hsl));
                box-shadow: 0px 1px 6px hsla(var(--fc-error-hsl), 17%), 0px 2px 0px hsla(var(--fc-error-hsl), 14%);
              }
          
              /*=====  End of Fields  ======*/
